body {
    margin: 0;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #0d1117; /* Dark background */
    color: #ffffff;
    overflow: hidden;
  }
  
/* Sphere wrapper styles */
.sphere-wrapper {
    position: relative;
    width: 150px; /* Set the width of the sphere container */
    height: 150px; /* Set the height of the sphere container */
    overflow: hidden; /* Prevent overflow */
    z-index: 1000;
    padding-right: 3%;
  }
  
  /* Canvas styles */
  #sphereCanvas {
    position: absolute;
    width: 150px; /* Adjust size of the canvas */
    height: 150px;
    top: 0;
    left: 0;
  }


.header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    max-width: 100%;
    margin:0;
    background-color: rgba(112, 128, 144, 0.45); /* Transparent slate gray */
    z-index: 1;
    


}

.head_links {
    padding-right: 1%;

}

header .head_links {
    display: flex;
    flex-direction: row;
    z-index: 1;
}

.header li {
    padding: 60px 5px 0px 5px;
    


}
.title {
    display: flex;
    color: white;
    position: relative;
    z-index: 1000;
    font-size: 1.2em;
    padding: 10px 30px 15px 15px;
    font-weight: 100;
    flex-direction: column;
    margin: 0;
    height: 10%;
}

.title, h1 {
    margin: 0;
}

a:link, a:visited, a:active {
    color: white;
    text-decoration: none;
    padding-left: 20px;
    font-size: 20px;
    position:  relative;
    z-index: 100;
    font-weight: 50;
}

img {
    position: absolute;
    z-index: 0;
    width: 100%;
    opacity: 75%;
    

}

a:hover {
    color: red;
    font-size: 20px;
    margin: 2px;
    padding-left: 20px;
    font-weight: 50;
}

li {
    list-style-type: none;
}

.main-content {
    font-size: 1em;
    color: red;
    display: flex;
    align-items: center;
    padding: 20px;
    background-color: #292d33;
}

p {
    display: flex;
    align-items: center;
}